/* Global */
body {
    max-width: 800px;
    margin: 0px auto;
    background-color: #774c60ff;
}

/* Header */
header {
    background-color: #faf3ddff;
}
header h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #243e36ff;
}
.navi-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.nav-list-item a {
    text-decoration: none;
    color: #774c60ff;
}


/* Main Content */
.main-content {
    background-color: #243e36ff;
    padding: 20px;
    color: #faf3ddff;
}

.main-content a:visited {
    color: #774c60ff;
}

/* Footer */
footer {
    background-color: #58A4B0ff;
}
address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer a {
    color: #faf3ddff;
}
footer a:visited {
    color: #774c60ff;
}
footer address img {
    width: 8em;
    margin-top: 10px;
}

/* Color Palette
/* CSS HEX
--msu-green: #243e36ff;
--eggshell: #faf3ddff;
--cadet-blue: #58a4b0ff;
--twilight-lavender: #774c60ff;
--egyptian-blue: #0a369dff;

/* CSS HSL
--msu-green: hsla(162, 27%, 19%, 1);
--eggshell: hsla(46, 74%, 92%, 1);
--cadet-blue: hsla(188, 36%, 52%, 1);
--twilight-lavender: hsla(332, 22%, 38%, 1);
--egyptian-blue: hsla(222, 88%, 33%, 1);

/* SCSS HEX
$msu-green: #243e36ff;
$eggshell: #faf3ddff;
$cadet-blue: #58a4b0ff;
$twilight-lavender: #774c60ff;
$egyptian-blue: #0a369dff;

/* SCSS HSL
$msu-green: hsla(162, 27%, 19%, 1);
$eggshell: hsla(46, 74%, 92%, 1);
$cadet-blue: hsla(188, 36%, 52%, 1);
$twilight-lavender: hsla(332, 22%, 38%, 1);
$egyptian-blue: hsla(222, 88%, 33%, 1);

/* SCSS RGB
$msu-green: rgba(36, 62, 54, 1);
$eggshell: rgba(250, 243, 221, 1);
$cadet-blue: rgba(88, 164, 176, 1);
$twilight-lavender: rgba(119, 76, 96, 1);
$egyptian-blue: rgba(10, 54, 157, 1);

/* SCSS Gradient
$gradient-top: linear-gradient(0deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-right: linear-gradient(90deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-bottom: linear-gradient(180deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-left: linear-gradient(270deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-top-right: linear-gradient(45deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-bottom-right: linear-gradient(135deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-top-left: linear-gradient(225deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-bottom-left: linear-gradient(315deg, #243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff);
$gradient-radial: radial-gradient(#243e36ff, #faf3ddff, #58a4b0ff, #774c60ff, #0a369dff); */